<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Manage Room</title>

    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <style>
		  footer {
			  position: fixed;
			  left: 0px;
			  bottom: 0px;
			  width: 100%;
			  height: 25px;
			  background: #333;
			  color: #fff;
			  z-index: 9999;
			  text-align: center;
		  }
	</style>
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">Booking System</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarColor02">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#">Check Application</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Manage Room<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Manage User</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Check Storage</a>
					</li>
				</ul>
				<form class="form-inline my-2 my-lg-0">
				<button class="btn btn-secondary my-2 my-sm-0" type="submit">logout</button>
				</form>
			</div>
		</nav>
	</header>
	<body>
		<div class="container-fluid"></br></br>
			<div class="row">
				<div class="col-md-4">
					<h3>Room status:</h3></br></br>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
				</div>
				<div class="col-md-7">
					<table class="table table-hover" style="text-align:center">
						<thead>
							<tr>
								<th scope="col">RoomNumber</th>
								<th scope="col">Need to clean</th>
								<th scope="col">Need to maintain</th>
							</tr>
						</thead>
						<tbody>
							<tr class="table-primary">
								<th scope="row">101</th>
								<td style="color:red">Yes</td>
								<td style="color:red">Yes</td>
							</tr>
						</tbody>
					</table></br></br></br></br>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<h3>Change Room status:</h3></br></br>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
				</div>
				<div class="col-md-7">
					<table class="table table-hover" style="text-align:center">
						<thead>
							<tr>
								<th scope="col">RoomNumber</th>
								<th scope="col">Status</th>
							</tr>
						</thead>
						<tbody>
							<tr class="table-primary">
								<th scope="row">101</th>
								<td>
									<div class="form-group">
										<div for="applicationagree"></div>
										<select class="form-control" id="applicationagree">
											<option>Unavailable</option>
											<option>available</option>
										</select>
									</div>
								</td>
							</tr>
						</tbody>
					</table></br>
				</div>
			</div>
			<div class="row">
				<div class="col-md-5">
				<!--用来居中的-->
				</div>
				<div class="col-md-4">
					<form class="form-inline my-2 my-lg-0">
						<button class="btn btn-secondary my-2 my-sm-0" type="submit">Submit</button>
					</form>
				</div>
			</div>
		</div>
    <br><br>
		<footer>
			<div class="container">
				Copyright © UIC. Python Group 5. All rights reserved.
			</div>
	    </footer>
	</body>
</html>
