<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Check Application</title>

    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<style>
    footer {
        position: fixed;
        left: 0px;
        bottom: 0px;
        width: 100%;
        height: 25px;
        background: #333;
        color: #fff;
        z-index: 9999;
        text-align: center;
    }
</style>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'adminHomepage' %}">Admin System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
                aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'checkApplication' %}">Check Application<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'manageroom' %}">Manage Room</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'manageuser' %}">Manage User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'managestorge' %}">Check Storage</a>
                </li>
            </ul>
            <a style="color: lightgoldenrodyellow">hi, {{ user }}</a>
            <a href="{% url 'user_logout' %}">
                <button class="btn btn-secondary my-2 my-sm-0">logout</button>
            </a>
        </div>
    </nav>
</header>
<body>
<div class="container-fluid"></br></br>
    <div class="row">
        <div class="col-md-8">
            <h2>User's Application for Reservation:</h2></br></br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <table class="table table-hover" style="text-align:center">
                <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Room Number</th>
                    <th scope="col">Reserve</th>
                    <th scope="col">Advance</th>
                </tr>
                </thead>

                <tbody>
                {% for recordings in BookInfo_all_list.object_list %}

                    <tr class="table-primary">
                        <th scope="row">{{ recordings.book_date }}</th>
                        <th scope="row">{{ recordings.start_hour }}:00 - {{ recordings.end_hour }}:00</th>
                        <td>{{ recordings.classroom_id }}</td>
                        {% if recordings.is_cancel == False %}
                            <form action="{% url 'canceling' %}?from={{ request.get_full_path }}" method="POST">
                                {% csrf_token %}
                                <td>
                                    <button id='id' name='id' type="submit" value="{{ recordings.id }} "
                                            class="btn btn-primary">Cancel
                                    </button>
                                </td>
                            </form>
                        {% else %}
                            <td>
                                <button type="submit" disabled="disabled" class="btn btn-primary ">Cancel</button>
                            </td>
                        {% endif %}
                        <td>
                            <a href="{% url 'checkApplicationEdit' recordings.id %}" ><button type="button" title="comment" value="show" data-container="body"
                                    data-toggle="popover" data-placement="top"
                                    data-content="{{ recordings.requirement }}">
                                edit
                            </button></a>
                        </td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
        <div class="col-lg-4">
        </div>
        <div class="col-md-2">
        </div>
    </div>
<div aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if BookInfo_all_list.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ BookInfo_all_list.previous_page_number }}"
                           aria-label="Previous">
                            <span aria-hidden="true">Last</span>
                            <span class="sr-only">Last</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">Last</span>
                            <span class="sr-only">Last</span>
                        </a>
                    </li>
                {% endif %}
                {% for page_num in page_range %}
                    {% if page_num == '...' %}
                        <li class="page-item disabled"><a class="page-link" href="#">{{ page_num }}</a></li>
                    {% else %}
                        {% if page_num == BookInfo_all_list.number %}
                            <li class="page-item active">
                                <span class="page-link">{{ page_num }}<span class="sr-only">{{ page_num }}</span></span>
                            </li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if BookInfo_all_list.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ BookInfo_all_list.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">Next</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">Next</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
</div>
<br><br><br>
<footer>
    <div class="container">
        Copyright © UIC. Python Group 5. All rights reserved.
    </div>
</footer>
</body>
</html>
